@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FEFFDD; /* Change this to the desired background color */
    background-image: url('/assets/background.png'); /* Replace with your image path */
    background-size: cover;
    background-attachment: fixed;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}